<<<<<<< HEAD
img{
    height: 400px;
    width: 400px;
    float: right;
    box-shadow: 30px 30px 40px 40px black;
    /* border-radius: 30px */
    /* border-top-left-radius: 90px
     border-bottom-right-radius: 80px; */
     border-radius: 300px;
     margin-right: 360px;
     margin-top:  90px;

}
=======
img{
    height: 400px;
    width: 400px;
    float: right;
    box-shadow: 30px 30px 40px 40px black;
    /* border-radius: 30px */
    /* border-top-left-radius: 90px
     border-bottom-right-radius: 80px; */
     border-radius: 300px;
     margin-right: 360px;
     margin-top:  90px;

}
>>>>>>> cedd72e27fd104b462c8d125de47e30e80056942
